
@{
    ViewBag.Title = "Error";
}

<br /> <br /> <br /><br /> <br /> <br /><br /> <br /> <br />
<center>
    <h1>
        An error has occured ! Please contact administrator !
    </h1>
</center>

<br /> <br /> <br /><br /> <br /> <br /><br /> <br /> <br />
@Html.ActionLink("Back to Home Page", "Index", "Home")
